################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WayPoint-BFA/DesignTimeBuild
/.vs/WayPoint-BFA/FileContentIndex
/.vs/WayPoint-BFA/v17
/.vs
/WayPoint-BFA/bin
/WayPoint-BFA/obj
/WayPoint-BFA/Properties/PublishProfiles
/WayPoint-Domain/bin/Debug/net8.0
/WayPoint-Domain/obj/Debug/net8.0
/WayPoint-Domain/obj
/WayPoint-Infrastructure/bin
/WayPoint-Infrastructure/obj
/WayPoint-Models/obj
/WayPoint-Test/bin/Debug/net8.0
/WayPoint-Test/obj
/wayPoint.Model/bin/Debug/net8.0
/wayPoint.Model/obj
/wayPoint.Model/bin/Release/net8.0
