################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BFAWebApp/bin/Debug/net8.0
/BFAWebApp/obj
/.vs
